@font-face {
  font-family: "sanfrancisco";
  src: url(/fuente/SFUIText-Regular.ttf);
}

:root {
  --background: rgb(45, 45, 45);
  --imput-color: rgb(227, 221, 221);
  --text: #727476;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sanfrancisco;
}

header {
  display: flex;
  background: transparent;
  backdrop-filter: 10px;
  border-bottom: 1px solid gray;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 65px;
}

.logo {
  max-width: 55px;
  max-height: 55px;
}

.navbar .navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrito {
  max-width: 24px;
  min-width: 24px;
}

.navbar-list a {
  color: var(--text);
  font-size: 14px;
}

.navbar-list {
  gap: 80px;
}

input {
  padding: 7px;
  padding-left: 32px;
  background: rgb(227, 221, 221);
  border-radius: 50px;
  border: none;
}

form {
  align-items: center;
  display: flex;
  position: relative;
}

form i {
  display: flex;
  position: absolute;
  padding: 6.5px;
}
